<h1>Mon profil</h1>

<div class="container">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Email :<p><%=current_user.email%></p> 
            </li>
            <li class="list-group-item">
                Prénom : <p><%=current_user.first_name%></p> 
            </li>
            <li class="list-group-item">
                Nom : <p><%=current_user.last_name%></p> 
            </li>
            <li class="list-group-item">
                Description : <p><%=current_user.description%></p> 
            </li>
        </ul>
    </div>
</div>